<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dotfiftythree.modernbazaar">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OwnProductsFragment.ProductBasedBarter"></activity>
        <activity android:name=".OwnProductsFragment.EditOwnProduct" />
        <activity android:name=".OwnProductsFragment.OwnProductInDetail" />
        <activity android:name=".ProfileFragment.FileAComplain" />
        <activity android:name=".ProfileFragment.SavedItems" />
        <activity android:name=".ProfileFragment.RecentBarterRequests" />
        <activity android:name=".ProfileFragment.BarterRequestDetail" />
        <activity android:name=".ProfileFragment.NewBarterRequest" />
        <activity android:name=".HomeFragment.HomeViewInDetail" />
        <activity android:name=".Visitor.VisitorViewProductDetail" />
        <activity android:name=".ProfileFragment.DeactivateAccount" />
        <activity android:name=".ProfileFragment.InsertProduct" />
        <activity android:name=".Visitor.Visitor" />
        <activity android:name=".HomeFragment.HomePage" />
        <activity android:name=".Registration.TandCRejection" />
        <activity android:name=".Registration.TermsandCondition" />
        <activity android:name=".Registration.OTPVerification" />
        <activity android:name=".Registration.PhoneNumberConfirmation" />
        <activity android:name=".Registration.LocationRegistration" />
        <activity android:name=".Registration.ProfileRegistration" />
        <activity android:name=".Registration.Registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>